<h1>Admin Dashboard</h1>
<%= link_to 'Mentors', admin_mentors_path %>
<%= link_to 'Mentees', admin_mentees_path %>
<%= link_to 'Matches', admin_matches_path %>

<%= button_to 'Run Match Service', admin_run_match_service_path, method: :post %>
