<h1>Editing mentorship</h1>

<%= render "form", mentorship: @mentorship %>

<br>

<div>
  <%= link_to "Show this mentorship", @mentorship %> |
  <%= link_to "Back to mentorships", mentorships_path %>
</div>
